header {
  display: flex;
  justify-content: space-around;
  background-color: darkgray;
  align-items: center; /* Căn giữa theo chiều dọc */
}
ul {
  display: flex;
  list-style: none;
  gap: 1rem; /* Thêm khoảng cách giữa các mục */
}

li {
  /* background-color: #4caf50; /* Màu nền xanh lá cây */
  width: 6rem;
  height: 2rem; /* Chiều cao của các mục */
  display: flex /* Hiển thị dưới dạng khối */;
  justify-content: center; /* Căn giữa theo chiều ngang */
  align-items: center; /* Căn giữa theo chiều dọc */
}
li :hover {
  color: #f40833; /* Màu nền khi hover */
}

#header-3 {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Căn giữa theo chiều dọc */
  gap: 0.2rem; /* Khoảng cách giữa các mục */
}
.fa-cart-shopping {
  font-size: 1rem; /* Kích thước biểu tượng giỏ hàng */
  color: black; /* Màu đen */
}
/* Xử lý menu*/
a {
  display: block; /* Biến thẻ a thành khối để chiếm toàn bộ chiều rộng */
  width: 100%; /* Đảm bảo thẻ a lấp đầy li */
  color: black; /* Màu đen */
  text-decoration: none; /* Bỏ gạch chân */
  font-weight: bold; /* Chữ đậm */
}

/* Menu cha */
#menuAbout {
  position: relative; /* Mốc để định vị menu con */
}
#menuAbout:hover #menuCon12 {
  display: flex;
}
#menuCon12 {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 100%; /* Ngay dưới menu cha */
  gap: 0px; /* Quan trọng: loại bỏ khoảng cách giữa các phần tử con */
  padding: 0px; /* Khoảng cách bên trong */
}

.TongSL {
  top: 0px;
  right: 0px;
  background-color: red; /* Màu đỏ */
  color: white; /* Chữ trắng */
  border-radius: 50%; /* Hình tròn */
  width: 1rem; /* Chiều rộng */
  height: 1rem; /* Chiều cao */
  font-size: small; /* Kích thước chữ nhỏ */
  display: flex; /* Hiển thị dưới dạng khối */
  justify-content: center; /* Căn giữa theo chiều ngang */
  align-items: center; /* Căn giữa theo chiều dọc */
}

/* responsive */

.hamburger {
  display: none; /* Ẩn hamburger */
}
@media (max-width: 768px) {
  .hamburger {
    display: flex; /* Hiển thị  hamburger */
  }
  #nav {
    display: none; /* Ẩn menu */
  }
  #header-1 {
    display: none;
  }
  #nav.hienThiMenu {
    display: flex; /* Hiển thị  menu */
    flex-direction: column; /* Đặt menu theo chiều dọc */
  }
  #menuCon12 {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 0; /* Ngay dưới menu cha */
    left: 4rem; /* Đặt vị trí bên trái */
    gap: 0px; /* Quan trọng: loại bỏ khoảng cách giữa các phần tử con */
    padding: 0px; /* Khoảng cách bên trong */
    z-index: 1; /* Đặt độ ưu tiên hiển thị */
  }
  header {
    justify-content: space-between; /* Căn giữa theo chiều ngang */
  }
}

/* banner hình to */
.main-content-1 {
  width: 100%;
  height: 20rem; /* Chiều cao của banner */
}

.main-content-1 img {
  width: 100%;
  height: 100%; /* Chiều cao của banner */
}
